* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: #b7b4b4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rectangle-button-3d {
  height: 80px;
  width: 200px;
  position: relative;
  transform: rotateX(-40deg) rotateY(40deg);
  transform-style: preserve-3d;
}

.rectangle-button-3d:hover {
  animation: jump 2s ease-in-out forwards;
  cursor: pointer;
}

@keyframes jump {
  0% {
    transform: rotateX(-40deg) rotateY(40deg) scale(1);
  }
  50% {
    transform: rotateX(-40deg) rotateY(40deg) translateY(-20px) scale(1.1);
  }
  100% {
    transform: rotateX(-40deg) rotateY(40deg) translateY(-10px) scale(1.05);
  }
}
.face {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: background-color 1s ease;
}
.rectangle-button-3d:hover .face {
  background-color: #007bff;
}

.top {
  height: 80px;
  width: 200px;
  background-color: #ffffff;
  transform: rotateX(90deg) translateZ(40px);
}
.bottom {
  height: 80px;
  width: 200px;
  background-color: #ffffff;
  transform: rotateX(-90deg) translateZ(-15px);
}
.rectangle-button-3d:hover .bottom {
  box-shadow: -10px -20px 20px rgba(0, 0, 0, 0.5);
}
.front {
  height: 25px;
  width: 200px;
  transform: translateZ(40px);
  background-color: #f3eded;
}
.back {
  height: 25px;
  width: 200px;
  transform: translateZ(-40px);
  background-color: #f3eded;
}
.left {
  height: 25px;
  width: 80px;
  background-color: #f3eded;
  transform: rotateY(-90deg) translateZ(40px);
}
.right {
  height: 25px;
  width: 80px;
  background-color: #f3eded;
  transform: rotateY(90deg) translateZ(160px);
}

a {
  text-decoration: none;
  color: #111;
  letter-spacing: 1.5px;
  font-size:24px;
  transition: color 1s ease;
}
a:hover {
  color: #fff;
}
